<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dbProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="properties">
            <props>
                <prop key="url">jdbc:mysql://localhost:3306/mydb</prop>
                <prop key="username">zhouyf</prop>
                <prop key="password">12345</prop>
            </props>
        </property>
    </bean>

    <bean id="databaseConfigBean" class="com.zhouyf.config.DataBaseConfig">
        <property name="connectionProps" ref="dbProperties"/>
    </bean>
</beans>